.help {
  &__left {
    text-align: center;

    img {
      width: 23.438rem;
      height: auto;
    }
  }

  &__right {
    padding: 3.125rem;

    h2 {
      text-align: center;
      font-size: 1.875rem;
      padding-bottom: 2.5rem;
    }

    p {
      font-size: 1rem;
      padding-bottom: 3.125rem;
      line-height: 1.5rem;
    }

    .button {
      width: max-content;
    }
  }
}

@media (min-width: 1200px) {
  .help {
    padding: 9.375rem 4.4375rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__right {
      padding: 1.875rem 0 1.375rem 5rem;

      h2 {
        font-size: 3.125rem;
        text-align: left;
      }

      p {
        font-size: 1.25rem;
        padding-bottom: 3.125rem;
      }

      .button {
        margin: inherit;
      }
    }
  }
}