.option-don {
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 3.125rem;

    &__left {
      order: 1;
      padding: 0 1.25rem;

      h3 {
        padding: 1.25rem 0;
        font-size: 1.25rem;
      }

      p {
        padding-bottom: 1.25rem;
      }

      a {
        width: max-content;
        display: inline-block;
        margin-bottom: 3.125rem;
      }
    }

    &__right {
      order: 0;

      img {
        width: 23.4375rem;
        height: auto;
      }
    }
  }
}

@media (min-width: 700px) {
  .option-don {
    display: flex;
    flex-direction: column;
    padding: 6.4375rem;
    row-gap: 8.125rem;
    margin-bottom: 6.25rem;

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5rem;

      &:nth-child(even) {
        .option-don__container__left {
          order: 1;
        }
      }

      &__left {
        order: 0;
        flex: 1;
        padding-top: 0.625rem;

        h3 {
          font-size: 2.1875rem;
          padding-bottom: 2.8125rem;
        }

        p {
          padding-bottom: 2.8125rem;
        }

        a {
          display: inline;
        }
      }

      &__right {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 1.8125rem;
        }
      }
    }
  }
}
