.shop {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    margin: 3.125rem 0;
  }
  &__container {
    max-width: 17.625rem;
    border-radius: 1.8125rem;
    padding: 3.25rem 2.875rem;
    &:nth-child(odd) {
      background-color: #B9BDE1;
      box-shadow: 0 0.625rem #B9BDE1;
    }
    &:nth-child(even) {
      border: 0.125rem solid #000;
      box-shadow: 0 0.625rem #000;
    }
    &__infos{
      h3{
        text-align: center;
        font-size: 1.5625rem;
        padding-bottom: 1.25rem;
      }
      span, li{
        font-size: 1.25rem;
      }
      &__list{
        padding-top: 2.5rem;
        .date-list{
          display: flex;
          flex-direction: column;
          li{
            font-size: 1.25rem;
            padding-bottom: 0.75rem;
          }
          &:first-child{
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  .shop{
    &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2.5rem;
      padding: 0 6.6875rem;
      margin-bottom: 6.25rem;
    }
    &__container{
      max-width: 23.875rem;
      border-radius: 1.8125rem;
      padding: 3.25rem 2.875rem;
      &__infos{
        h3{
          font-size: 2.1875rem;
        }
      }
    }
  }
}