.FAQ {
  &__title {
    text-align: center;

    h2 {
      font-size: 2.1875rem;
      padding-bottom: 3.125rem;
    }

    p {
      font-size: 1.125rem;
      padding: 0 2.375rem 3.75rem;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    margin: 0 0.875rem 3.75rem;

    article {
      border-radius: 1.8125rem;
      max-width: 21.688rem;
      margin: 0 auto;

      h3 {
        text-align: center;
        font-weight: bold;
        padding-top: 1.5625rem;
        font-size: 1.5625rem;
      }

      p {
        padding: 2.5rem 1.25rem;
      }
    }
  }
}

.FAQ__option article:first-child, .FAQ__option article:last-child {
  background-color: #B9BDE1;
  box-shadow: 0 0.625rem #B9BDE1;
}

.FAQ__option article:nth-child(2), .FAQ__option article:nth-child(3) {
  border: 0.125rem solid #000;
  box-shadow: 0 0.625rem #000;
}

@media (min-width: 1200px) {
  .FAQ {
    &__title {
      margin-bottom: 6.25rem;

      h2 {
        font-size: 3.75rem;
      }

      p {
        font-size: 1.375rem;
        margin: 0 auto;
        max-width: 41.75rem;
        padding-bottom: 0;
      }
    }

    &__option {
      margin: 0 11.75rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 3.125rem;

      article {
        max-width: 31.688rem;
      }

      p {
        padding: 2.5rem 1.875rem;
      }
    }
  }
}
